[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Automatically exported from code.google.com/p/qextserialport
[access "refs/*"]
	owner = group user/gylns
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/gylns
	label-Verified = -1..+1 group user/gylns
	push = group user/gylns
	read = group user/gylns
	rebase = group user/gylns
	removeReviewer = group user/gylns
	submit = group user/gylns
[access "refs/heads/*"]
	create = group user/gylns
	push = +force group user/gylns
	pushMerge = group user/gylns
	read = group user/gylns
[access "refs/tags/*"]
	push = group user/gylns
	push = +force group user/gylns
